@await Html.PartialAsync("/Views/TheGame/UI/_LeaveToMenu.cshtml") @*TODO ???? doesnt follwo standards *@
<div id="board--grid">
</div>

<link rel="stylesheet" href="~/css/Grid/Grid.css" />
<script src="~/js/ts/TheGameMain/Board/Map/GridGenerator.js"></script>
