.leave--button {
    position: fixed;
    top: 0;
    right: 15%;
    width: 150px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px; /* Optional: rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional: shadow effect */
}
