<div class="main--menu">
    <h1>Main Menu</h1>

    <button class="menu--button" id="startGameBtn">Online Game</button>

    <button class="menu--button" id="localGameBtn">Local Game</button>

    <button class="menu--button" id="optionsBtn">Options</button>

    <button class="menu--button" id="otherBtn">Other</button>

    <button class="menu--button" id="MainBoard">MainBoard</button>
</div>
